@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<InoLibrary.Models.Publication>

@{
    Layout = "_layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>Index</title>
    <style>
        #categories {
            position: absolute;
            width: 150px;
            left: 405px;
            top: 110px;
        }
        #publications {
            position: relative;
            width: 800px;
            left: 150px;
            top: 0px;
        }
    </style>
</head>
<body>
    <form method="post" asp-controller="Home" asp-action="Search">
        <div class="form-group">
            @Html.DropDownList("searchOption", new SelectList(new string[] { "Название", "Автор", "Год издания" }))
            <input name="searchString" class="input-sm" width="100" />
            <input type="submit" value="Найти" class="btn btn-sm btn-primary" />
        </div>
    </form>
    <div id="categories">
        @foreach (var category in ViewBag.CategoryMenu)
        {
            <a asp-controller="Home" asp-action="Search" asp-route-searchOption="Category" asp-route-searchString=@category.Name class="text-primary">@category.Name (@category.Amount)</a><br />
        }
    </div>
    @if (Model.Count() != 0)
    {
        <table class="table" id="publications">
            <tbody>
                @foreach (var publication in Model)
                {
                    <tr>
                        <td>
                            @publication.Name
                        </td>
                        <td>
                            @publication.PublishingYear
                        </td>
                        <td>
                            @publication.User.Nickname
                        </td>
                        <td>
                            @for (int i = 0; i < publication.PublicationCategories.Count; i++)
                            {
                                <text> @publication.PublicationCategories[i].Category.Name</text>
                                if (i != publication.PublicationCategories.Count - 1)
                                {
                                    <text>,</text>
                                }
                            }
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="ObservePublication" asp-controller="Publications" asp-route-id=@publication.Id>Открыть</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="info">Публикаций не найдено</div>
    }
</body>
</html>
